@font-face {
  font-family: '1898 Sans';
  src: url('../fonts/1898Sans-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: '1898 Sans';
  src: url('../fonts/1898Sans-Bold.otf') format('opentype');
  font-weight: bold;
}

.world-quant-body h1, .world-quant-sample-body h1 {
  font-family: '1898 Sans', sans-serif;
  font-size: 34px;
  line-height: 45px;
}
.world-quant-body h2, .world-quant-sample-body h2 {
  font-family: '1898 Sans', sans-serif;
  font-size: 28px;
  line-height: 42px;
}

/* Bootstrap override */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

.worldquant-logo {
  width: 504px;
  max-width: 100%;
}

.top-header, .bottom-header, .worldquant-footer {
  color: #FFFFFF;
  font-weight: bold;
}

.top-header {
  background-image: url('../images/globe-trimmed-2.png'), url('../images/background-gradient.jpg');
  background-size: auto 100%, cover;
  background-position: center center, top center;
  background-repeat: no-repeat, no-repeat;
}

.top-header.detail-page {
  background-image: url('../images/inter-hero.jpg');
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
}

.top-header img {
  margin-top: 35px;
}

.top-header.detail-page img {
  margin-top: 42px;
  margin-bottom: 42px;
}

.top-header p, .bottom-header p {
  font-family: '1898 Sans', sans-serif;
}

.top-header p {
  margin: 100px 0;
  font-size: 42px;
  line-height: 58px;
}

.sample-back-link {
  color: #000000;
}

.bottom-header {
  padding-top: 35px;
  padding-bottom: 35px;
}

.bottom-header p {
  margin: 25px 0;
  font-size: 28px;
  line-height: 42px;
}

.worldquant-footer {
  margin-top: 40px;
  background-color: #000000;
}

.footer-wrapper {
  padding-top: 35px;
  padding-bottom: 35px;
}

.worldquant-footer p {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  text-align: right;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .top-header img {
    margin-top: 20px;
  }
  .world-quant-sample-body .top-header img {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .top-header p {
    margin: 75px 0;
    font-size: 20px;
    line-height: 32px;
  }
  .bottom-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .bottom-header p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 24px;
  }
  .footer-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 380px) {
  .top-header {
    background-position: left -400px center, top center;
  }
  .top-header.detail-page {
    background-position: center;
  }
}
